* {
  margin: 0;
  padding: 0;
}



@font-face {
    font-family: "Glacial Indifference";
    src: url("../Sources/GlacialIndifference-Regular.otf");
}

.Glacial {
    font-family: "Glacial Indifference";

}

/*body {
  background-color: #f2460b;
  margin: 0;
  padding: 0;
  font-family: "Glacial Indifference";
  height: 100svh;

}*/

/* .caja { 
  background-color: #FEA500;
  border: 3px solid #4D9906;
  border-radius: 20px;
}*/

/*.contenedor-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 110%;
  min-height: 100vh;
  max-height: calc(100svh + 4.4vw);
}*/

/*.svg {
  margin-right: 6px;
}*/
header {
  background-color: #f2460b;
  text-align: center;
  display: flex;
  align-items: center;
  height: 16vw;
  margin: 10px;
  padding: 10px;
}


h1 {
  text-align: center;
  font-weight: 400;
  font-size: 6vw;
  margin: 0px;
  color: white;
  width:80vw ;
}

/*h2 {
  font-weight: 300;
  font-size: 3.5vw;
  margin: 0px;
}*/


.logo {
  width: 18vw;
  margin-right: 10px;
}




/* header {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  background-color: #F2460B;
  height: 250px;
  text-align: center;
}
h1 {
  position: absolute;
  color: white;  
  font-weight: 200;
  font-size: 4vw;
  left: 40%;
  
}

.logo {
  position:absolute;
  width: 15vw;
  left: 10px;
  
}*/

input {
      width: 30%;
      height: 5px;
      border: 2px solid #4D9906;
      border-radius: 50px;
      font-size: 16px;
      background-color: lightgray;
      background-image: url('../Sources/icons8-search-64.png');
      background-size: 10%;
      
      background-position: bottom 1px right 14px ; 
      background-repeat: no-repeat;
      padding: 27px;
      margin-left: 40px;
      margin-top: 20px;
      margin-bottom: 20px;
    }


.grid-container {
    display: grid;
    background-color: #fea500;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Crea columnas flexibles */
    gap: 10px; /* Espacio entre las imágenes */
    padding: 20px;
    
  }
  
  .grid-item {
    position: relative;
    background-color: lightgray;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 100%; /* Mantiene una relación de aspecto cuadrada para las imágenes */
    overflow:hidden;
    border: 2px solid #4D9906;
    vertical-align:bottom;
  }
  
  .grid-item img {
    position: absolute;
    left: 5px;
    border: 10px;
    width: 100%;
    height: 100%;
    object-fit: fit; /* Ajusta la imagen para llenar completamente el contenedor */
    
    bottom: 50px;
        
  }

  p{position: absolute;
  bottom: 1px;
  left: 10%; */
  

}

  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }