header {
    background-color: #F2460B;
    color: white;
    text-align: center;
    padding: 20px;
}
@font-face {
    font-family: "Glacial Indifference";
    src: url("../Sources/GlacialIndifference-Regular.otf");
}

.Glacial {
    font-family: "Glacial Indifference";

}

.logo {
    width: 150px;
    height: 150px;
    margin-left: 0;
}

input {
      width: 30%;
      height: 5px;
      border: 2px solid #4D9906;
      border-radius: 50px;
      font-size: 16px;
      background-color: lightgray;
      background-image: url('../Sources/icons8-search-64.png');
      background-size: 10%;
      
      background-position: bottom 1px right 14px ; 
      background-repeat: no-repeat;
      padding: 17px;
      margin-left: 40px;
      margin-top: 20px;
      margin-bottom: 20px;
    }


.grid-container {
    display: grid;
    background-color: #fea500;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Crea columnas flexibles */
    gap: 10px; /* Espacio entre las imágenes */
    padding: 20px;
    
  }
  
  .grid-item {
    position: relative;
    background-color: lightgray;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 100%; /* Mantiene una relación de aspecto cuadrada para las imágenes */
    overflow:hidden;
    border: 2px solid #4D9906;
    vertical-align:bottom;
  }
  
  .grid-item img {
    position: absolute;
    left: -12px;
    border: 10px;
    width: 100%;
    height: 100%;
    object-fit: fit; /* Ajusta la imagen para llenar completamente el contenedor */
    padding: 10px;
    bottom: 15px;
        
  }
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }