* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
}



@font-face {
  font-family: "Glacial Indifference";
  src: url("../Sources/GlacialIndifference-Regular.otf");
}

.Glacial {
  font-family: "Glacial Indifference";

}

nav {
  display: flex;
  height: fit-content;
}

ul {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}

li {
  border: solid 1px #4D9906;
  background-color: #f2460b;
  border-radius: 30px;
  padding: 5px 10px;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

li:hover {
  cursor: pointer;
}

li:active {
  scale: .95;
}



.flex-item a {
  height: 60%;
  width: 90%;
}

.marco {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: #f2460b solid 1px;
}


header {
  background-color: #f2460b;
  text-align: center;
  display: flex;
  align-items: center;
  height: 16vw;
  padding: 10px;
}

header {
  background-color: #f2460b;
  text-align: center;
  padding: 10px;
}

.logo {
  width: 200px;
}

h1 {
  font-weight: 400;
  font-size: 2em;
  color: white;
}


.logo {
  width: 18vw;
  margin-right: 10px;
}

img {
  position: relative;
}

input {
  width: 30%;
  height: 20px;
  border: 2px solid #4D9906;
  border-radius: 50px;
  font-size: 16px;
  background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat;
  background-position: bottom 50% right 8%;

  padding: 5px 15px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.topnav {
  width: 100%;
  border: 2px solid #4D9906;
  border-radius: 50px;
  font-size: 16px;
  background-color: lightgray;
  background-image: url('../Sources/icons8-search-64.png');
  background-size: 16px;
  background-position: 95% center;
  background-repeat: no-repeat;
  padding: 10px;
  margin: 20px auto;
  display: block;
}

.flex-container {
  display: flex;
  background-color: #fea500;
  flex-direction: row;
  flex-wrap: wrap;

  /* Crea columnas flexibles */
  gap: 10px;
  /* Espacio entre las imágenes */
  padding: 20px;
  height: fit-content;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
  padding: 20px;
}

.flex-item {
  position: relative;
  background-color: #ddd;
  border-radius: 5px;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Mantiene una relación de aspecto cuadrada para las imágenes */
  border: 2px solid #4D9906;
  vertical-align: bottom;
}

.grid-item {
  position: relative;
  background-color: lightgray;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #4D9906;
}

header.producto {
  font-size: 15px;
}

.flex-item footer,
.flex-item header {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  height: 15%;
  background-color: #ddd;
}

.flex-item footer {
  padding-top: 10px;
}

.flex-item a div {
  position: relative;
  overflow: hidden;
}

.flex-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fit;
  /* Ajusta la imagen para llenar completamente el contenedor */
}

p {
  position: absolute;
  bottom: 1px;
  left: 10%;

}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* .flex-container {
    flex-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  } */
}

@media (prefers-color-scheme: dark) {

  body,
  .flex-item,
  .flex-item footer,
  .flex-item header {
    background-color: #222;
    color: #fff;
  }


}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: white;
  text-align: center;
}

.image-title1 {
  font-size: 2em;
  margin: 0;
}

.image-title2 {
  font-size: 1em;
  margin: 0;
}

.image-description {
  font-size: 1.4em;
  margin: 0;
}

.image-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
}