body {
    background-color: #222;
    margin: 0;
    padding: 0;
    font-family: "Glacial Indifference";
}

.contenedor-flex {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.svg {
    margin-right: 6px;

}

.boton-nav {
    font-size: 1.4vw;
}

.header {
    background-color: #FEA500;
    text-align: left;
    display: flex;
    align-items: center;
    height: 16vw;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    border: solid 3px #4D9906;
}

h1 {
    font-weight: 400;
    font-size: 6vw;
    margin: auto;
    margin-left: 20px;
}

h2 {
    font-weight: 300;
    font-size: 3.5vw;
    margin: 10px 0;
}


.logo {
    width: 18vw;
    margin-right: 10px;
}

.title {
    display: flex;
    flex-direction: column;
}




.nav {
    background-color: #FEA500;
    color: black;
    padding: 0px;
    height: auto;
    border: 3px solid #4D9906;
    border-radius: 10px;
}

.boton-nav:hover{
    
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 20px;
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    text-decoration: none;
    background-color: #FEA500;
    border: 1px solid #222;
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
    list-style: none;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menu li:hover .submenu {
    display: block;
}

.submenu li a {
    color: #222;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.submenu li a:hover {
    background-color: #222;
    color: white;
}

main {

    text-align: center;
    padding: 20px 0;
    height: 300px;
}

.main img {
    max-height: 300px;
    max-width: 100%;
    border: 3px solid #4D9906;
    border-radius: 10px;
}

footer {
    background-color: #4D9906;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #4D9906 solid 3px;
    text-align: center;
    padding: 1.5vw;
}

footer p {
    margin: 0px;
    font-size: 1.4vw;
}

@font-face {
    font-family: "Glacial Indifference";
    src: url("../Sources/GlacialIndifference-Regular.otf");
}