.formulario_registro { 
    background-color: darkorange;
    margin: 10px;
    padding:20px;
    font-family: "Glacial Indifference";
    
    
}
.form-group {
margin-bottom: 15px; /* Añade espacio entre grupos de elementos */
}

    label {
        display: block; /* Muestra cada etiqueta en una nueva línea */
        font-weight: bold; /* Puedes hacer que las etiquetas sean más destacadas */
    }

    input {
        width: 70%; /* Los campos de entrada se expanden al 100% del ancho del contenedor */
        padding: 5px; /* Añade espaciado interior en los campos de entrada */
        border: 1px solid #ccc; /* Añade un borde a los campos de entrada */
        border-radius: 5px; /* Añade esquinas redondeadas a los campos de entrada */
    }

.form-buttons {
    margin-top: 20px; /* Añade espacio entre los campos de entrada y los botones */
margin-right: 850px;
}

.logo {
    width: 150px;
    height: 150px;
    margin-left: 0;
}
    button {
        background-color: #4CAF50; /* Cambia el color de fondo del botón */
        color: #fff; /* Cambia el color del texto del botón a blanco */
        padding: 10px 20px; /* Añade espacio dentro del botón */
        border: none; /* Elimina el borde del botón */
        border-radius: 5px; /* Añade esquinas redondeadas al botón */
        cursor: pointer; /* Cambia el cursor al estilo de puntero al pasar el ratón sobre el botón */
    }

    a {
        text-decoration: none; /* Elimina la decoración de enlace predeterminada */
        margin-left: 10px; /* Añade espacio entre el botón "GUARDAR" y el enlace "VOLVER" */
    }


    