body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color
}

header {
    background-color: #F2460B;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

@font-face {
    font-family: "Glacial Indifference";
    src: url("../Sources/GlacialIndifference-Regular.otf");
}

.Glacial {
    font-family: "Glacial Indifference";

}
.logo {
    width: 150px;
    height: 150px;
    margin-left: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(300px, 1fr));
    grid-gap: 20px;
}

.item {
    background-color: #FEA500;
    padding: 20px;
    border: 1px solid #4D9906;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/* Pie de página */
footer {
    background-color: #4D9906;
    color: white;
    text-align: center;
    padding: 10px;
}
